/* FONT */
@font-face {
    font-family: THSarabunNew;
    src: url(THSarabunNew.ttf);
}

body {
    font-family: THSarabunNew;
    background-color: #F8F4F4;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* รูปเสื้อที่เป็น BG */
.background {
    position: relative;
    color: white;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #000000;
}
  
/* รูปเสื้อมืดขึ้น */
.clothes {
    opacity: 0.8;
}
  
/* ทำให้ช่อง search อยู่บนรูปด้านซ้าย */
.searchInput {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 75%;
}
/* ทำให้ text อยู่ด้านซ้ายล่างของรูป */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.BigText {
    font-size: 30px;
    margin-bottom: -15px;
}
.SmallText {
    font-size: 20px;
}
/* icon แว่นขยาย เป็นสีขาว */
.fa-search {
    color: white;
}
  
/* การทำให้ form search เป็น tranparent */
.form-control {
    background: transparent;
    border-color: white;
    border-width: 2px;
    color: white;
    border-radius: 20px;
    text-indent: 30px;
    font-size: 18px;
    padding-bottom: 1%;
}
  
#searchText::-webkit-input-placeholder {
      color: white !important;
}
  
.fa-shopping-cart {
    position: absolute;
    top: 20px;
    right: 45px;
}
  
.fa-user {
    position: absolute;
    top: 20px;
    right: 15px;
}
  
/* --------------------------------------------------------------------------------------------------------------- */
.container{
    margin-top: 4%;
}

.topic{
    color: #d14b4b;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2%;
}

.categoryCard{
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0);
    width: 100%;
}

.categoryCard:active{
    background-color:rgba(255,255,255,0.5);
}

.categoryName{
    padding: 10% 0% 10% 0%;
    text-align: center;
}

.cateName{
    color: #d14b4b;
    font-size: 17px;
}

.fa-search {
  position: absolute;
  top: 12px;
  left: 15px;
}

/* --------------------------------------------------------------------------------------------------------------- */
.productDetail{
    padding: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.shopName{
    margin-left: 5%;
}

.productName, .productPrice{
    font-weight: bold;
    margin-bottom: 0%;
    color: black;
}

.productPrice{
    margin-bottom: -7%;
}

.productCard{
    margin-bottom: 4%;
}

/* .more{
    color: #d14b4b;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
} */

.contact{
    background-color: #d14b4b;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.right{
    text-align: right;
    padding-right: 8%;
}
.left{
    padding-left: 8% 
}