
@font-face {
    font-family: THSarabunNew;
    src: url(THSarabunNew.ttf);
}
body{
    background-color: #F8F4F4;
    
   
}
img{
    margin-left: 33%;
}
.container{
    margin-top: 5%;
    font-family: THSarabunNew ; 
    font-size: 25px; 
}
.form-control{
    border-radius: 20px;
    text-indent: 25px;
    margin-bottom: 10%;
    background-color: #F8F4F4;
   

}

.form-control pw {
   margin-bottom: 5%;
  
}
.btn{
    border-radius: 30px;
    width: 80%;
    border-color: white;
    height: 43px;
    position: relative ;
    left: 33px;
    
}

.btnlogin{
    background-image: linear-gradient(to right,#D3544A, #F5A23A);
}

.btnfacebook{
    background-image: linear-gradient(to right, #4692C6,#0C373E);
    margin-bottom: 20%;
}

.form-group {
    position: relative;
    color: #aaa;
    font-size: 25px; 
    position: relative ;
    width: 80%;
    left: 33px;
}

.fa-user , .fa-unlock-alt,.fab fa-facebook-f{ 
    position: absolute;
    top: 10px;
    left: 15px;
  }

 .fab {
   margin-right: 5%;
 }

.forgot{
    color: black;
    font-size: 15px;
    text-align: right;
    right: 20;
    margin-top:  -5%;
  }
  .or{
    text-align:center;
    
  }
  .regist{
      text-align: center;
      
  }
  .fb{
     color: #D3544A;
  }
  .addr{
    font-size: 14pt;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 0%;
    margin-right: 8%;
}
hr{
    border-bottom-color: black;
}
.ad{
    width: 85%;
    margin-left: 8%;
    margin-right: 8%; 
    margin-top: 5%;
}

.dropdown {
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 40%;
    margin-bottom: 0%;
}
.group{
    font-family: THSarabunNew ;  
    font-weight: bold;
   
}
select{
    margin-bottom: 0%;
}
.form-control Postcode{
    margin-left: 12%;
    margin-right: 8%;
    width: 80%;
}
.col-md-6 mb-3{
    margin-bottom: 0%;
}
.botton{
    background-color: #D14B4B; /* Green */
    border: none;
    color: white;
    padding: 1px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: center;
}
.User {
    margin-top: 20%;
}
